.board-class {
    background-color: red;
    min-width: 200px !important;
    min-height: 150px !important;
    font-size: 200%
}

.left-class {
    background-color: violet;
    min-width: 100px !important;
    min-height: 250px !important;
}

.bottom-class {
    background-color: green;
    min-width: 100px !important;
    min-height: 100px !important;
}

.dice {
    font-size: 200%
}