.board-class {
    background-color: cornflowerblue;
    min-width: 200px !important;
    min-height: 326px !important;
    font-size: 200%;
    border-left: solid 1px black;
}

.left-class {
    background-color: violet;
    min-width: 100px !important;
    min-height: 250px !important;
}

ul {
    list-style: none;
}

.bottom-class {
    background-color: lightgreen;
    border: solid 1px black;
    min-width: 100px !important;
    min-height: 100px !important;
}

.dice {
    font-size: 200%;
    text-align: center;
    border: solid 1px black;
}

.dices {
    text-align: center;
    padding-top: 30px
}

.btn {
    margin-top: 33px!important;
    margin-right: 15px!important;
}

.locked-true {
    background-color: red;
}

.locked-false {
    background-color: green;
}

.playing-false {
    background-color: violet;
}

.player {
    border-bottom: solid 1px black;
}

.playing-true {
    border: solid 2px red;
    background-color: white;
}

.playerEmoji {
    font-size: 300%;
}